<h1>Welcome to my store</h1>

<%= link_to "新增商店", new_store_path, class:'btn btn-primary' %>
<table class="table table-hover">
  <thead>
    <tr>
      <td>店家名稱</td>
      <td>票選數</td>
      <td></td>
    </tr>
  </thead>
<% @stores.each do |store| %>
  <tr>
    <td><%= link_to store.information, store %></td>
    <td><%= store.votes.size %></td>
    <td>
      <%= link_to "票選", store_votes_path(store), method: :post, class:'btn btn-success', data:{confirm:"確定投給#{store.name}商家嗎?"} %>
      <%= link_to "編輯", edit_store_path(store), class:'btn btn-success' %>
      <%= link_to "刪除", store, method: :delete, class:'btn btn-danger', data:{confirm: 'are you sure'} %></td>
  </tr>
<% end %>
</table>

